.container{
    background: #a3a3a3;
    text-align: center;
    font-family: "Roboto";
}

.titulo{
    font-size: 3rem;
    font-weight: bold;
}

.btn {
    display: block;
    border: 0;
    color: white;
    font-weight: bold;
    background-color: #1c4638;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.text-input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;
    width: 25%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.footer {
    position: relative;
    padding: 2rem 0;
    width: 100%;
    background-color: #1552c2;
    text-align: center;
}

.footer__copyright {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}
